<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myalkansyamobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <supports-screens
        android:smallScreens="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:name=".MainApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAlkansyaMobile"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <!-- Facebook SDK configuration -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
            
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Main Activity (Welcome Screen) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- New Dashboard Activity -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:label="Data Analytics" />

        <!-- Sign In Activity -->
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <!-- Sign Up Activity -->
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <!-- Home Page Activity -->
        <activity
            android:name=".HomePageActivity"
            android:exported="false"
            android:launchMode="singleTop"/>

        <!-- Income Activity -->
        <activity
            android:name=".IncomeActivity"
            android:exported="false"
            android:launchMode="singleTop"/>

        <!-- Add Income Activity -->
        <activity android:name=".AddIncomeActivity"
            android:exported="false"
            android:launchMode="singleTop"/>

        <!-- Edit Income Activity -->
        <activity android:name=".EditIncomeActivity"
            android:exported="false"
            android:launchMode="singleTop"/>

        <!-- Expense Activity -->
        <activity
            android:name=".ExpenseActivity"
            android:exported="false"
            android:launchMode="singleTop"/>

        <!-- Add Expense Activity -->
        <activity
            android:name=".AddExpenseActivity"
            android:exported="false"
            android:launchMode="singleTop"/>

        <!-- Expense Detail Activity -->
        <activity
            android:name=".ExpenseDetailActivity"
            android:exported="false"
            android:parentActivityName=".ExpenseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ExpenseActivity" />
        </activity>
        

        <!-- Edit Expense Activity -->
        <activity
            android:name=".EditExpenseActivity"
            android:exported="false"
            android:parentActivityName=".ExpenseDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ExpenseDetailActivity" />
        </activity>

        <!-- Budget Activity -->
        <activity
            android:name=".BudgetActivity"
            android:exported="false" />
        
        <!-- Add Budget Activity -->
        <activity
            android:name=".AddBudgetActivity"
            android:exported="false" />
        
        <!-- Edit Budget Activity -->
        <activity
            android:name=".EditBudgetActivity"
            android:exported="false" />

        <!-- Savings Goal Activities -->
        <activity
            android:name=".SavingsGoalsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".AddSavingsGoalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".EditSavingsGoalActivity"
            android:exported="false" 
            android:screenOrientation="portrait" />

        <!-- Profile Activity -->
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:label="My Profile"
            android:theme="@style/Theme.MyAlkansyaMobile.NoActionBar" />

        <!-- Currency Converter Activity -->
        <activity
            android:name=".CurrencyConverterActivity"
            android:exported="false"
            android:label="Currency Converter" />

        <!-- File Provider Declaration -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>